<form class="formulario" [formGroup]="ideiaFormGroup">
  <div class="campo">
    <label for="ideia">Titulo</label>
    <input id="ideia" name='ideia' formControlName="ideia" >
    @if (ideiaValue?.invalid && ideiaValue.touched) {
      <span class='erro'>O texto é obrigatório</span>
    }
  </div>

  <div class="campo">
    <label for="categoria">Categoria</label>
    <select id="categoria" name='categoria' formControlName="categoria">
      <option value="">Selecione...</option>
      <option value="Tecnologia">Tecnologia</option>
      <option value="Negocio">Negocio</option>
      <option value="Outro">Outro</option>
    </select>
    @if (categoriaValue?.invalid && categoriaValue.touched) {
      <span class='erro'>Escolha uma categoria</span>
    }
  </div>

  <div class="campo">
    <label for="resolve">Qual problema isso resolve?</label>
    <input id="resolve" name='resolve' formControlName="resolve">
    @if (resolveValue?.invalid && resolveValue.touched) {
      <span class='erro'>O texto é obrigatório</span>
    }
  </div>

  <button (click)="enviar()" [disabled]='ideiaFormGroup.invalid'>
    {{ ideia() ? 'Salvar' : 'Enviar' }}
  </button>
</form>
